#container input {
    display: inline-block;
}

#error_message {
    color: red;
    font-weight: bold;
}

#message {
    color: green;
    font-weight: bold;
}

#table td {
    border-bottom: 1pt solid black;
}

.tickerPrice {
    width: 100px;
}

.tickerCol {
    vertical-align: bottom;
}

.onlineAverage {
    font-weight: bold;
}

.onlineBuy {
    color: green;
}

.onlineSell {
    color: red;
}

div.fieldsetRow {
    display: flex;
    align-items: baseline;
}

div.equal {
    display: flex;
    align-items: stretch;
}

fieldset legend {
    color: darkblue;
    font-weight: bold;
}

fieldset.table {
    width: 50%;
}

.priceTable {
    width: 100%;
}

input.textInput:focus {
    border: none;
    outline: 0;
    cursor: text;
    width: 15px;
}

input.textInput:not(:focus) {
    outline: 0;
    width:15px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px dotted #000;
    text-decoration: none;
    cursor: pointer;
}

input.textInput::-webkit-outer-spin-button,
input.textInput::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}