@font-face {
    font-family: NotomojiColor;
    font-weight: 400;
    src: url(fonts/NotoColorEmoji.ttf) format("truetype");
}

@font-face {
    font-family: Notomoji;
    font-weight: 400;
    src: url(fonts/NotoEmoji-Regular.ttf) format("truetype");
}

#container input {
    display: inline-block;
}

#error_message {
    color: red;
    font-weight: bold;
}

#message {
    color: green;
    font-weight: bold;
}

#table td {
    border-bottom: 1pt solid black;
}

tr.process td{
     background-color: #d4d4d4;
}

tr.short td{
    background-color: rgba(0, 138, 255, 0.15);
}
.tickerPrice {
    width: 100px;
}

.tickerCol {
    vertical-align: bottom;
}

.onlineAverage {
    font-weight: bold;
}

.onlineBuy {
    color: green !important;
}

.onlineSell {
    color: red !important;
}

.onlineBuyPartial {
    background-color: #009900;
}

.onlineSellPartial {
    background-color: #c50000;
}

div.fieldsetRow {
    display: flex;
}

div.equal {
    display: flex;
    align-items: stretch;
}

fieldset legend {
    color: darkblue;
    font-weight: bold;
}

.priceTable {
    width: 100%;
}

.alertPriceTable {
    width: 100%;
}

img.help {
    padding-left: 3px;
    height: 13px;
}

input.textInput:focus {
    border: none;
    outline: 0;
    cursor: text;
    width: 15px;
}

input.textInput:not(:focus) {
    outline: 0;
    width: 15px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px dotted #000;
    text-decoration: none;
    cursor: pointer;
}

input.textInput::-webkit-outer-spin-button,
input.textInput::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

h4 {
    margin-bottom: 0;
    margin-top: 0;
}

.percent {
    vertical-align: super;
    font-size: 80%;
    padding-left: 5px;
}

th.sorting {
    padding-right: 18px !important;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7XQMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC") no-repeat center right;
}

th.sortingAsc {
    padding-right: 18px !important;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==") no-repeat center right;
}

th.sortingDesc {
    padding-right: 18px !important;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII=") no-repeat center right;
}

.header {
    width: 100%;
}

.leftColumn {
    width: 50%;
}

.rightColumn {
    width: 50%;
}

.header h4 {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

p.info {
    text-decoration: underline;
    cursor: pointer;
}

.toggle-content {
    display: none;
}

.toggle-content.is-visible {
    display: block;
}

.symbolStatus {
    margin-bottom: -0.35em;
    padding-right: 2px;
}

.maxWidth {
    width: 100px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a:link, a:visited {
    color: #121ff4;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: rgba(255, 255, 0, 0.27);
    color: #f40024;
}

.isOnlineOrderBuy {
    background-color: lightgreen;
}
.isOnlineOrderSell {
    background-color: lightcoral;
}

input.buy, input.sell {
    width: 85px;
}
input.sell{
    background: lightpink;
}
input.buy{
    background: lightgreen;
}
input.tickerQuantity {
    width: 60px;
}

input[type="datetime-local"] {
    width: 175px;
    height: 17px;
}
.icon{
    font-family: NotomojiColor, Notomoji, sans-serif;
    font-size: 10pt;
    cursor: default;
}

.disabled {
    opacity: .3;
}

.lastOTC{
    color: cornflowerblue;
}
.toggle{
    cursor: pointer;
}
.dotted{
    border-bottom: 1px dotted #000;
}
.export{
    padding: 10px;
}
.exportLink{
    cursor: pointer;
    color: green;
    border-bottom: 1px dotted #000;
}
.subscribePrice {
    margin: 5px;
    padding-left: 5px;
    padding-right: 10px;
    color: white;
    background-color: #42ba08;
    border-radius: 15%;
    display: inline-block;
}
.subscribePrice:active {
    background-color: red;
}
.close {
    position: absolute;
    border-radius: 50%;
    background-color: #f40024;
    padding: 0 8px;
    cursor: pointer;
    color: white;
    margin-top: 5px;
    margin-left: -12px;
    height: 16px;
}
.close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 10px;
    margin-top: 3px;
    margin-left: -1px;
    width: 2px;
    background-color: white;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.close:hover {
    opacity: 1;
}
#news_table{

}
#news_table .nav{
    margin-top: 20px;
}
ul.navigation {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.newsNav, .pulseNav{
    background-color: #e6dbf6;
    padding: 5px;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 5px;
    border-radius: 12px;
    display: inline;
    float: left;
}
.newsBody{
    display: none;
}
.newsBody div,img{
    max-width: 725px !important;
    margin: 0 !important;
}

.newsAnnounce {

    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.bordered{
    border-bottom: solid 1px black;
}
.vedomosti{
    background-color: #fff6f1;
}
h2.header{
    padding-left: 10px;
    width: 98%;
}
h2.black{
    color: black;
    text-shadow: 2px 2px 5px #e6dbf6;
}
h2.white{
    color: aliceblue;
    text-shadow: 2px 2px 5px #756f7e;
}
.newsAnnounce .date{
    padding: 10px;
}
.newsAnnounce .announce{
    padding-left: 10px;
}
.newsAnnounce .black{
    color: black;
    text-shadow: 1px 1px 1px #d8d8d8;
}
.newsAnnounce .white{
     color: white;
     text-shadow: 1px 1px 1px #000000;
}
.forecast{
    cursor: pointer;
}
.forecast a.width100, .pulse a.width100{
    width: 100%;
    text-align: left;
}
.forecast h2.header{
    max-width: 80%;
    display:inline-block;
}
.forecast .recommendation{
    color: white;
    padding: 10px;
    text-shadow: 1px 1px 1px #000000;
    font-size: 12pt;
}
.forecast .logo{
    border-radius: 50%;
    float: right;
    height: 60px;
    width: 60px;
    margin-right: 15px;
    margin-top: 20px;

}
.newsAnnounce .logo{
    border-radius: 50%;
    float: right;
    height: 30px;
    width: 30px;
    margin-left: -10px;
}
.translate{
    float: right;
    padding: 10px;
    cursor: pointer;
    margin-top: -35px;
}
.logoContainer{
    float: right;
    margin-right: 15px;
    height: 100%;
    padding-left: 10px;
}
.dayNumber{
    background: linear-gradient(to top left, #3399ff 0%, #ff66ff 100%);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}
.pulse{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;

    border-bottom: solid black 1px;
    cursor: default !important;
}
.pulse .logoContainer{
    margin-top: -40px;
}

.pulse .answerLink,.commentLink{
    float: right;
    cursor: pointer;
    text-decoration-style:  dashed;
    padding-left: 5px;
}
.pulse .comment{
    margin-left: 30px;
    margin-bottom: 5px;
    background-color: #e6dbf6;
    border-radius: 15px;
    padding: 5px;
}
.pulse .answer textarea{
    width:100%;
}

.pulse h2{
    padding-left: 10px;
}
.pulse .post{
    padding-left: 10px;
}