#container{
    min-width: 320px;
}
.negative{
    color: red;
}
.positive{
    color:green;
}
h5{
    margin-bottom: 0;
}
.percent{
    vertical-align: super;
    font-size: 80%;
    padding-left: 5px;
}
#footer{
    float: right;
    color: cornflowerblue;
    font-size: 70%;
}